*{
    font-family: calibri;
    outline: none;
}
body{
    margin: 0%;
    padding: 0%;
}
#container{
    border: 1px solid #8b8d95;
    width:480px;
    margin: auto;
    margin-top: 05%;
    height: 72vh;
    background: #c1c4cd;
    box-shadow: 20px 20px 30px #c1c4cd;
}
#title{
    display: flex;
    margin: 4% 0% 0% 2%;
}
#title span{
    margin: 0% 0% 0% 4%;
    font-weight: 400;
    font-size: 150%;
}
#svg1{
    margin: 1% 0% 0% 0%;
}
#screens {
    box-sizing: border-box;
    height: 20%;
    text-align: right;
    margin: 1% 0% 1% 0%;
}
#screens p:nth-child(1){
    height: 35%;
    font-size: 200%;
    margin: 0% 3% 0% 3%;
}
#screens p:nth-child(2){
    height: 65%;
    margin: 0% 3% 0% 3%;
    font-size: 350%;
}
#buttons{
    width: 100%;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#buttons div{
    margin: 0%;
    width: 100%;
    
    box-sizing: border-box;
}
#buttons #pri{
    width: 100%;
}
#pri{
    width: 100%;
    box-sizing: border-box;
    margin: 0.5% 1% 0% 1%;
    padding: 0% 1.5% 0% 1.5%;
}
#pri button{
    margin: 2% 0% 0%;
    padding: 0%;
    width: 4.6rem;
    height: 2rem;
    font-size: 100%;
    box-sizing: border-box;
    border: 0px;
}
.pri{
    background: #c1c4cd;
}
#main{
    width: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#main div{
    margin: 0% 0% 0% 1.7%;
}
.num{
    background: #f2f3f5;
}
.main:hover{
    background: gray;
}
.op{
    background: #d8dadf;
}
.art:hover{
    background: #1DA1F2;;
}
.eq:hover{
    background: #F9BB96;
}
.b:hover{
    border: 1px solid gray!important;
}
#main button{
    width: 7rem;
    height: 4rem;
    font-size: 150%;
    margin: 0% 0% 0.5% 0%;
    padding: 0%;
    box-sizing: border-box;
    border: 0ch;
}
#sidenav{
    position: absolute;
    bottom: 68vh;
    display: none;
    background: rgb(241, 238, 238);
    width: 250px;
}
#sidenav svg{
    padding-left: 8px;
}
#sidenav p{
    padding-left: 8px;
    margin-bottom: 5px;
}
#sidenav div{
    padding-left: 18px;
    margin-bottom: 5px;
}
#sidenav div:hover{
    padding-left: 23px;
    background: #1DA1F2;
}
#scientific{
    position: relative;
    bottom: 50vh;
    right: 2px;
    padding-top: 1.5%;
    display: none;
}
#scip{
    width: 100%;
    box-sizing: border-box;
    margin: 0.5% 1% 0% 1%;
    padding: 0% 1.5% 0% 1.5%;
}
#scip #pri{
    width: 100%;
    box-sizing: border-box;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0.6%;
}
#scip button{
    margin: 2% 0% 0%;
    padding: 0%;
    width: 4.5rem;
    height: 2rem;
    font-size: 100%;
    box-sizing: border-box;
    border: 0px;
}
#sci{
    width: 100%;
    margin: 0% 0% 0.5% 2.4%;
    padding: 0%;
    box-sizing: border-box;
}
#sci button{
    width: 5.5rem;
    height: 3rem;
    font-size: 110%;
    margin: 0% 0% 0.2% 0.1%;
    padding: 0%;
    box-sizing: border-box;
    border: 0ch;
}

@media screen and (max-width:968px) {
    #container{
        width:350px;
        height: 80vh;
        box-shadow: 7px 7px 10px #c1c4cd;
    }
    #main div{
        margin: 1% 2.5% 0% 2.5%;
    }
    #main button{
        width: 5rem;
        height: 3.5rem;
        font-size: 120%;
    }
    #pri{
        width: 100%;
        box-sizing: border-box;
        margin: 0.5% 1% 0% 1%;
        padding: 0% 3% 0% 3%;
    }
    #pri button{
        margin: 2% 0% 0%;
        padding: 0%;
        width: 3.2rem;
        height: 2rem;
        font-size: 90%;
    }
    #sidenav{
        z-index: 1;
        position: fixed;
    }
    #sidenav p{
        font-size: 15px
    }
    #sidenav div{
        font-size: 15px
    }
    #scip button{
        margin: 2% 0% 0%;
        padding: 0%;
        width: 3.2rem;
        font-size: 90%;
    }
    #sci button{
        width: 4rem;
        height: 2.9rem;
        font-size: 90%;
    }
    #title span{
        margin: 0% 0% 0% 4%;
        font-weight: 200;
        font-size: 130%;
    }
    
}